.container {
    max-width: 1250px;
    margin: auto;
    padding: 0 20px;
}

body {
    background: #101010;
    font-family: 'Lowball';
    overflow-x: hidden;
}

.swiperSlider-button-prev,
.swiperSlider-button-next {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2.8px solid #fff;
    background: transparent;
    width: 55px;
    height: 55px;
    z-index: 2;
    cursor: pointer;
}


.css-rppfq7-MuiButtonBase-root-MuiPaginationItem-root {
    color: #fff;
    font-size: 25px;
}

.MuiPagination-root {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.css-rppfq7-MuiButtonBase-root-MuiPaginationItem-root {
    background: #6b5f5f;
}